In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
home = str(Path.home()) # all other paths are relative to this path. change to something else if this is not the case on your system
REPO = f"{home}/csc-466-student"
from importlib import import_module
LAB = "main"
helper = import_module(f'{LAB}_helper')
df = pd.read_csv(f"{REPO}/data/project_data.csv", index_col=0)
df = df.dropna()
df.head()
#df = df.loc[df.numStarbucks != 0]
#df['numStarbucks'] = df['numStarbucks'].replace([7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0], 7.0)
display(df['numStarbucks'].value_counts())
X = df.drop(['numStarbucks'], axis=1)
y = df['numStarbucks']
display(X.head())
display(y.head())
display(df)


#### NO NEED TO EDIT ####

0.0     10539
1.0      2231
2.0       885
3.0       376
4.0       162
5.0        85
6.0        31
7.0        13
8.0         8
9.0         6
10.0        4
11.0        1
12.0        1
14.0        1
13.0        1
19.0        1
Name: numStarbucks, dtype: int64

,zipcode,population_estimate_2016,population_change_2016,population_natural_increase_2016,population_residual_2016,population_group_quarters_total_estimate_2016,population_death_rate_2016,population_natural_increase_rate_2016,population_net_international_migration_rate_2016,population_net_domestic_migration_rate_2016,...,population_urban_influence_code_2013_11,population_urban_influence_code_2013_12,population_economic_typology_2015_0,population_economic_typology_2015_1,population_economic_typology_2015_2,population_economic_typology_2015_3,population_economic_typology_2015_4,population_economic_typology_2015_5,median_income,mean_income
0,36091.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,0,1,0,0,0,0,0,46110.0,67265.00
1,36067.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,0,1,0,0,0,0,0,45490.5,55888.50
2,36701.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,0,1,0,0,0,0,0,21723.5,31074.25
3,36022.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,0,1,0,0,0,0,0,53966.5,59161.50
4,36703.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,0,1,0,0,0,0,0,45588.0,65458.00

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: numStarbucks, dtype: float64

,zipcode,population_estimate_2016,population_change_2016,population_natural_increase_2016,population_residual_2016,population_group_quarters_total_estimate_2016,population_death_rate_2016,population_natural_increase_rate_2016,population_net_international_migration_rate_2016,population_net_domestic_migration_rate_2016,...,population_urban_influence_code_2013_12,population_economic_typology_2015_0,population_economic_typology_2015_1,population_economic_typology_2015_2,population_economic_typology_2015_3,population_economic_typology_2015_4,population_economic_typology_2015_5,numStarbucks,median_income,mean_income
0,36091.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,46110.000000,67265.000000
1,36067.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,45490.500000,55888.500000
2,36701.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,21723.500000,31074.250000
3,36022.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,53966.500000,59161.500000
4,36703.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,45588.000000,65458.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14340,31405.0,288615,0.009203,1630,-0.000028,0.047724,8.3,5.7,3.2,0.4,...,0,1,0,0,0,0,0,1.0,81105.500000,48126.833333
14341,31406.0,288615,0.009203,1630,-0.000028,0.047724,8.3,5.7,3.2,0.4,...,0,1,0,0,0,0,0,2.0,39165.000000,49525.666667
14342,31419.0,288615,0.009203,1630,-0.000028,0.047724,8.3,5.7,3.2,0.4,...,0,1,0,0,0,0,0,0.0,141533.333333,55166.000000
14343,30114.0,241795,0.026742,1381,0.000087,0.006849,6.1,5.8,1.9,19.3,...,0,1,0,0,0,0,0,3.0,300000.000000,98943.000000
14344,30189.0,241795,0.026742,1381,0.000087,0.006849,6.1,5.8,1.9,19.3,...,0,1,0,0,0,0,0,1.0,89976.333333,98791.666667

0
0.0    2447
1.0     814
2.0     260
3.0      49
4.0      10
5.0       2
9.0       2
6.0       1
7.0       1
8.0       1
dtype: int64

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
3582    0.0
3583    0.0
3584    0.0
3585    2.0
3586    1.0
Name: 0, Length: 3587, dtype: float64

0       0
1       0
2       0
3       0
4       0
       ..
3582    0
3583    0
3584    0
3585    0
3586    0
Length: 3587, dtype: int64

In [2]:
#temp = helper.do_feature_importance(X, y)
#aveError = helper.do_RMSE(X, y)
#temp = helper.do_MAE(X,y)
#results, expected = helper.get_predictions(X,y)
#display(results)
#aveError
results_me, expected_me = helper.get_predict(X,y)
results_sk, expected_sk = helper.get_predictions(X,y)
display("My code:")
display(results_me.value_counts())
display(expected_me.value_counts())
display("SKLearn code:")
display(results_sk.value_counts())
display(expected_sk.value_counts())

'My code:'

0.0    2477
1.0     823
2.0     244
3.0      35
4.0       4
7.0       2
9.0       2
dtype: int64

0.0     2642
1.0      561
2.0      216
3.0       91
4.0       44
5.0       20
6.0        6
7.0        3
9.0        2
8.0        1
10.0       1
Name: numStarbucks, dtype: int64

'SKLearn code:'

0.0     2445
1.0      890
2.0      222
3.0       23
8.0        3
4.0        3
10.0       1
dtype: int64

0.0     2642
1.0      561
2.0      216
3.0       91
4.0       44
5.0       20
6.0        6
7.0        3
9.0        2
8.0        1
10.0       1
Name: numStarbucks, dtype: int64

In [3]:
temp1 = helper.check_predictions(results_me, expected_me)
temp2 = helper.check_predictions(results_sk, expected_sk)
display("horizontal: actual value")
display("verticle: predicted value")
display(temp1)
display(temp2)
#display(temp)
#temp2 = {}
#cols = X.columns
#for i in range(len(temp)):
#    temp2[cols[i]] = temp[i]
#for item in temp.keys():
#    temp2[item] = abs(temp[item])  
#temp3 = pd.Series(temp2).sort_values(ascending=False)
#display(temp3)
#for item in temp3.keys():
#    display(item + ": " + str(temp3[item]))

0.0    2477
1.0     823
2.0     244
3.0      35
4.0       4
7.0       2
9.0       2
dtype: int64

0.0     2642
1.0      561
2.0      216
3.0       91
4.0       44
5.0       20
6.0        6
7.0        3
9.0        2
8.0        1
10.0       1
Name: numStarbucks, dtype: int64

0.0     2445
1.0      890
2.0      222
3.0       23
8.0        3
4.0        3
10.0       1
dtype: int64

0.0     2642
1.0      561
2.0      216
3.0       91
4.0       44
5.0       20
6.0        6
7.0        3
9.0        2
8.0        1
10.0       1
Name: numStarbucks, dtype: int64

'horizontal: actual value'

'verticle: predicted value'

        0      1      2     3     4    5    6    7    8    9    10
0   2171.0  247.0   45.0   9.0   4.0  1.0  0.0  0.0  0.0  0.0  0.0
1    419.0  224.0  110.0  42.0  15.0  8.0  2.0  1.0  0.0  2.0  0.0
2     49.0   72.0   53.0  39.0  18.0  7.0  4.0  1.0  1.0  0.0  0.0
3      3.0   17.0    6.0   1.0   4.0  3.0  0.0  1.0  0.0  0.0  0.0
4      0.0    0.0    1.0   0.0   2.0  1.0  0.0  0.0  0.0  0.0  0.0
5      0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
6      0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
7      0.0    1.0    1.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
8      0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
9      0.0    0.0    0.0   0.0   1.0  0.0  0.0  0.0  0.0  0.0  1.0
10     0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0

        0      1      2     3     4    5    6    7    8    9    10
0   2175.0  218.0   40.0   9.0   2.0  1.0  0.0  0.0  0.0  0.0  0.0
1    425.0  267.0  120.0  47.0  18.0  8.0  3.0  1.0  0.0  1.0  0.0
2     41.0   68.0   52.0  30.0  18.0  6.0  3.0  2.0  1.0  1.0  0.0
3      1.0    6.0    3.0   5.0   4.0  4.0  0.0  0.0  0.0  0.0  0.0
4      0.0    1.0    1.0   0.0   0.0  1.0  0.0  0.0  0.0  0.0  0.0
5      0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
6      0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
7      0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
8      0.0    1.0    0.0   0.0   1.0  0.0  0.0  0.0  0.0  0.0  1.0
9      0.0    0.0    0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
10     0.0    0.0    0.0   0.0   1.0  0.0  0.0  0.0  0.0  0.0  0.0

loading historical data by zipcodes