In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("starbucks.csv")
df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [4]:
#grabbing US only locations
df = df.loc[df["Country"] == "US"]
#grabbing only starbucks (not jambda juice)
df = df.loc[df["Brand"] == "Starbucks"]
#might want to only grab only company owned stores
df = df.loc[df["Ownership Type"] == "Company Owned"]
df = df[["Postcode", "State/Province", "City", "Street Address"]]
df = df.dropna()
#grabbing only the first 5 digits of the zipcode
df["Postcode"] = df["Postcode"].apply(lambda s: float(s[:5]))
print(df.shape)
df.head()

(7928, 4)

,Postcode,State/Province,City,Street Address
11967,99515.0,AK,Anchorage,"320 W. 100th Ave, 100, Southgate Shopping Ctr ..."
11968,99515.0,AK,Anchorage,1005 E Dimond Blvd
11972,99503.0,AK,Anchorage,"110 W. Tudor Rd, E"
11978,99507.0,AK,Anchorage,"2421 East Tudor Road, Suite 8"
11986,99504.0,AK,Anchorage,"1142 N. Muldoon Road, 110, Anchorage 5th Ave Mall"

In [86]:
y = df["Postcode"].value_counts()
y.head()

98101.0    21
10019.0    19
10017.0    18
10022.0    14
10001.0    13
Name: Postcode, dtype: int64

Loading income data by postcodes

loading historical data by zipcodes

In [87]:
demoDF = pd.read_csv("us_county_demographics.csv")
demoDF.head()

,zipcode_type,major_city,post_office_city,county,state,lat,lng,timezone,radius_in_miles,land_area_in_sqmi,...,population_by_race_85yrs_older_white_combination_male_2019,population_by_race_85yrs_older_white_combination_female_2019,population_by_race_85yrs_older_black_combination_male_2019,population_by_race_85yrs_older_black_combination_female_2019,population_by_race_85yrs_older_american_indian_alaska_native_combination_male_2019,population_by_race_85yrs_older_american_indian_alaska_native_combination_female_2019,population_by_race_85yrs_older_asian_combination_male_2019,population_by_race_85yrs_older_asian_combination_female_2019,population_by_race_85yrs_older_native_hawaiian_pacific_islander_combination_male_2019,population_by_race_85yrs_older_native_hawaiian_pacific_islander_combination_female_2019
0,Standard,Verbena,"Verbena, AL",Chilton County,AL,32.8,-86.5,Central,10.0,81.80,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
1,Standard,Plantersville,"Plantersville, AL",Dallas County,AL,32.6,-86.9,Central,9.0,87.41,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
2,Standard,Billingsley,"Billingsley, AL",Autauga County,AL,32.6,-86.7,Central,9.0,71.47,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
3,Standard,Prattville,"Prattville, AL",Autauga County,AL,32.5,-86.6,Central,15.0,239.23,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
4,Standard,Selma,"Selma, AL",Dallas County,AL,32.5,-87.0,Central,21.0,259.77,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0

In [88]:
usefulColumns = [
    "zipcode",
    "population_rural_urban_continumm_code_2013",
    "population_urban_influence_code_2013",
    "population_economic_typology_2015",
    "population_estimate_2016",
    "population_change_2016",
    "population_deaths_2016",
    "population_natural_increase_2016",
    "population_net_international_migration_2016",
    "population_net_domestic_migration_2016",
    "population_net_migration_2016",
    "population_residual_2016",
    "population_group_quarters_total_estimate_2016",
    "population_death_rate_2016",
    "population_natural_increase_rate_2016",
    "population_net_international_migration_rate_2016",
    "population_net_domestic_migration_rate_2016",
    "population_net_migration_rate_2016",
    "unemployment_civilian_labor_force_2016",
    "unemployment_employed_2016",
    "unemployment_unemployed_2016",
    "unemployment_unemployment_rate_2016",
    "education_percent_of_adults_with_less_than_a_high_school_diploma_2015-19",
    "education_percent_of_adults_with_a_high_school_diploma_only_2015-19",
    "education_percent_of_adults_completing_some_college_or_associate's_degree_2015-19",
    "education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19",
    "population_by_age_total_5_13_2016",
    "population_by_age_total_14_17_2016",
    "population_by_age_total_18_24_2016",
    "population_by_age_total_15_44_2016",
    "population_by_age_total_45_64_2016",
    "population_by_age_total_65_over_2016",
    "population_by_race_total_white_male_2016",
    "population_by_race_total_white_female_2016",
    "population_by_race_total_black_male_2016",
    "population_by_race_total_black_female_2016",
    "population_by_race_total_american_indian_alaska_native_male_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_asian_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_female_2016",
    "population_by_race_total_2_or_more_races_male_2016",
    "population_by_race_total_2_or_more_races_female_2016",
    "population_by_race_total_white_combination_male_2016",
    "population_by_race_total_white_combination_female_2016",
    "population_by_race_total_black_combination_male_2016",
    "population_by_race_total_black_combination_female_2016",
    "population_by_race_total_american_indian_alaska_native_combination_male_2016",
    "population_by_race_total_american_indian_alaska_native_combination_female_2016",
    "population_by_race_total_asian_combination_male_2016",
    "population_by_race_total_asian_combination_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_female_2016",
]

demoDF = demoDF[usefulColumns]
demoDF.head()

,zipcode,population_rural_urban_continumm_code_2013,population_urban_influence_code_2013,population_economic_typology_2015,population_estimate_2016,population_change_2016,population_deaths_2016,population_natural_increase_2016,population_net_international_migration_2016,population_net_domestic_migration_2016,...,population_by_race_total_white_combination_male_2016,population_by_race_total_white_combination_female_2016,population_by_race_total_black_combination_male_2016,population_by_race_total_black_combination_female_2016,population_by_race_total_american_indian_alaska_native_combination_male_2016,population_by_race_total_american_indian_alaska_native_combination_female_2016,population_by_race_total_asian_combination_male_2016,population_by_race_total_asian_combination_female_2016,population_by_race_total_native_hawaiian_pacific_islander_combination_male_2016,population_by_race_total_native_hawaiian_pacific_islander_combination_female_2016
0,36091.0,2,2,0,55243,379,547,119,-3,266,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
1,36758.0,2,2,0,55243,379,547,119,-3,266,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
2,36006.0,2,2,0,55243,379,547,119,-3,266,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
3,36067.0,2,2,0,55243,379,547,119,-3,266,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
4,36701.0,2,2,0,55243,379,547,119,-3,266,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0

In [89]:
quantityColumns = [
    "population_change_2016",
    "population_deaths_2016",
    "population_natural_increase_2016",
    "population_net_international_migration_2016",
    "population_net_domestic_migration_2016",
    "population_net_migration_2016",
    "population_residual_2016",
    "population_group_quarters_total_estimate_2016",
    "population_death_rate_2016",
    "population_natural_increase_rate_2016",
    "population_net_international_migration_rate_2016",
    "population_net_domestic_migration_rate_2016",
    "population_net_migration_rate_2016",
    "unemployment_civilian_labor_force_2016",
    "unemployment_employed_2016",
    "unemployment_unemployed_2016",
    "unemployment_unemployment_rate_2016",
    "population_by_age_total_5_13_2016",
    "population_by_age_total_14_17_2016",
    "population_by_age_total_18_24_2016",
    "population_by_age_total_15_44_2016",
    "population_by_age_total_45_64_2016",
    "population_by_age_total_65_over_2016",
    "population_by_race_total_white_male_2016",
    "population_by_race_total_white_female_2016",
    "population_by_race_total_black_male_2016",
    "population_by_race_total_black_female_2016",
    "population_by_race_total_american_indian_alaska_native_male_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_asian_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_female_2016",
    "population_by_race_total_2_or_more_races_male_2016",
    "population_by_race_total_2_or_more_races_female_2016",
    "population_by_race_total_white_combination_male_2016",
    "population_by_race_total_white_combination_female_2016",
    "population_by_race_total_black_combination_male_2016",
    "population_by_race_total_black_combination_female_2016",
    "population_by_race_total_american_indian_alaska_native_combination_male_2016",
    "population_by_race_total_american_indian_alaska_native_combination_female_2016",
    "population_by_race_total_asian_combination_male_2016",
    "population_by_race_total_asian_combination_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_female_2016",
]


for col in quantityColumns:
    for i in range(len(demoDF)):
        demoDF.loc[i, col] = demoDF.loc[i, col] / demoDF.loc[i, "population_estimate_2016"]

demoDF.head()

,zipcode,population_rural_urban_continumm_code_2013,population_urban_influence_code_2013,population_economic_typology_2015,population_estimate_2016,population_change_2016,population_deaths_2016,population_natural_increase_2016,population_net_international_migration_2016,population_net_domestic_migration_2016,...,population_by_race_total_white_combination_male_2016,population_by_race_total_white_combination_female_2016,population_by_race_total_black_combination_male_2016,population_by_race_total_black_combination_female_2016,population_by_race_total_american_indian_alaska_native_combination_male_2016,population_by_race_total_american_indian_alaska_native_combination_female_2016,population_by_race_total_asian_combination_male_2016,population_by_race_total_asian_combination_female_2016,population_by_race_total_native_hawaiian_pacific_islander_combination_male_2016,population_by_race_total_native_hawaiian_pacific_islander_combination_female_2016
0,36091.0,2,2,0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,...,0.388375,0.400865,0.09603,0.105371,0.00505,0.005521,0.007675,0.008761,0.000869,0.000977
1,36758.0,2,2,0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,...,0.388375,0.400865,0.09603,0.105371,0.00505,0.005521,0.007675,0.008761,0.000869,0.000977
2,36006.0,2,2,0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,...,0.388375,0.400865,0.09603,0.105371,0.00505,0.005521,0.007675,0.008761,0.000869,0.000977
3,36067.0,2,2,0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,...,0.388375,0.400865,0.09603,0.105371,0.00505,0.005521,0.007675,0.008761,0.000869,0.000977
4,36701.0,2,2,0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,...,0.388375,0.400865,0.09603,0.105371,0.00505,0.005521,0.007675,0.008761,0.000869,0.000977

Saving it so we don't have to spend 20 minutes preprocessing it every time

In [126]:
demoDF.to_csv("processedDemographics.csv")

In [118]:
processedDemographicsDF = pd.read_csv("processedDemographics.csv")
processedDemographicsDF = processedDemographicsDF.drop(columns=["Unnamed: 0"])
categoricalColumns = ["population_rural_urban_continumm_code_2013", "population_urban_influence_code_2013", "population_economic_typology_2015"]
processedDemographicsDF = pd.get_dummies(processedDemographicsDF, columns=categoricalColumns)
processedDemographicsDF["zipcode"] = demoDF["zipcode"]

,population_estimate_2016,population_change_2016,population_deaths_2016,population_natural_increase_2016,population_net_international_migration_2016,population_net_domestic_migration_2016,population_net_migration_2016,population_residual_2016,population_group_quarters_total_estimate_2016,population_death_rate_2016,...,population_urban_influence_code_2013_10,population_urban_influence_code_2013_11,population_urban_influence_code_2013_12,population_economic_typology_2015_0,population_economic_typology_2015_1,population_economic_typology_2015_2,population_economic_typology_2015_3,population_economic_typology_2015_4,population_economic_typology_2015_5,zipcode
0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,0,1,0,0,0,0,0,36091.0
1,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,0,1,0,0,0,0,0,36758.0
2,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,0,1,0,0,0,0,0,36006.0
3,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,0,1,0,0,0,0,0,36067.0
4,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,0,1,0,0,0,0,0,36701.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51997,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,0,1,0,0,0,0,0,30151.0
51998,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,0,1,0,0,0,0,0,30028.0
51999,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,0,1,0,0,0,0,0,30114.0
52000,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,0,1,0,0,0,0,0,30139.0
52001,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,0,1,0,0,0,0,0,30189.0

In [113]:
starbucksCounts = df["Postcode"].value_counts().reset_index()
starbucksCounts = starbucksCounts.rename(columns={"index": "zipcode", "Postcode" : "numStarbucks"})
starbucksCounts

      zipcode  numStarbucks
0     98101.0            21
1     10019.0            19
2     10017.0            18
3     10022.0            14
4     10001.0            13
...       ...           ...
4592  55421.0             1
4593  55427.0             1
4594  55305.0             1
4595  91784.0             1
4596  82801.0             1

[4597 rows x 2 columns]

In [114]:
joined = pd.merge(processedDemographicsDF, starbucksCounts, how="left", on="zipcode")
joined = joined.fillna(0)
joined

,population_estimate_2016,population_change_2016,population_deaths_2016,population_natural_increase_2016,population_net_international_migration_2016,population_net_domestic_migration_2016,population_net_migration_2016,population_residual_2016,population_group_quarters_total_estimate_2016,population_death_rate_2016,...,population_urban_influence_code_2013_11,population_urban_influence_code_2013_12,population_economic_typology_2015_0,population_economic_typology_2015_1,population_economic_typology_2015_2,population_economic_typology_2015_3,population_economic_typology_2015_4,population_economic_typology_2015_5,zipcode,numStarbucks
0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,1,0,0,0,0,0,36091.0,0.0
1,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,1,0,0,0,0,0,36758.0,0.0
2,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,1,0,0,0,0,0,36006.0,0.0
3,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,1,0,0,0,0,0,36067.0,0.0
4,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,0,0,1,0,0,0,0,0,36701.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51997,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,1,0,0,0,0,0,30151.0,0.0
51998,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,1,0,0,0,0,0,30028.0,0.0
51999,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,1,0,0,0,0,0,30114.0,3.0
52000,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,1,0,0,0,0,0,30139.0,0.0
52001,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,0,0,1,0,0,0,0,0,30189.0,1.0

Loading income data

In [115]:
incomeDF = pd.read_csv("kaggle_income.csv", encoding="ISO-8859-1")
incomeDF.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [116]:
incomeRelevantColumns = [
    "Zip_Code",
    "Median",
    "Mean"
]
incomeDF = incomeDF[incomeRelevantColumns]
incomeDF

       Zip_Code  Median   Mean
0         36611   30506  38773
1         36048   19528  37725
2         35051   31930  54606
3         36572   52814  63919
4         36528   67225  77948
...         ...     ...    ...
32521       970   13729  30649
32522       602    9923  15520
32523       602   34054  41933
32524       602       0      0
32525       603   20229  28049

[32526 rows x 3 columns]

In [117]:
allJoined = pd.merge(joined, incomeDF, how="left", left_on="zipcode", right_on='Zip_Code')
allJoined.drop(columns="Zip_Code", inplace=True)
allJoined = allJoined.dropna()
allJoined = allJoined.rename(columns={"Median": "median_income", "Mean": "mean_income"})

In [120]:
allJoined.to_csv("allJoined.csv")

In [123]:
allJoined = pd.read_csv("allJoined.csv", index_col=0)
y = allJoined["numStarbucks"]
x = allJoined.drop(columns="numStarbucks")

,population_estimate_2016,population_change_2016,population_deaths_2016,population_natural_increase_2016,population_net_international_migration_2016,population_net_domestic_migration_2016,population_net_migration_2016,population_residual_2016,population_group_quarters_total_estimate_2016,population_death_rate_2016,...,population_economic_typology_2015_0,population_economic_typology_2015_1,population_economic_typology_2015_2,population_economic_typology_2015_3,population_economic_typology_2015_4,population_economic_typology_2015_5,zipcode,numStarbucks,median_income,mean_income
0,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,1,0,0,0,0,0,36091.0,0.0,46110.0,67265.0
3,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,1,0,0,0,0,0,36067.0,0.0,39054.0,53597.0
4,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,1,0,0,0,0,0,36067.0,0.0,51927.0,58180.0
5,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,1,0,0,0,0,0,36701.0,0.0,15982.0,23614.0
6,55243,0.006861,0.009902,0.002154,-0.000054,0.004815,0.004761,-0.000054,0.008236,0.000179,...,1,0,0,0,0,0,36701.0,0.0,19843.0,26582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74659,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,1,0,0,0,0,0,30028.0,0.0,64358.0,72611.0
74660,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,1,0,0,0,0,0,30114.0,3.0,300000.0,98943.0
74662,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,1,0,0,0,0,0,30189.0,1.0,109799.0,114994.0
74663,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,1,0,0,0,0,0,30189.0,1.0,67136.0,77755.0
74664,241795,0.026742,0.006026,0.005711,0.001911,0.019033,0.020943,0.000087,0.006849,0.000025,...,1,0,0,0,0,0,30189.0,1.0,92994.0,103626.0