In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("starbucks.csv")
df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [18]:
#grabbing US only locations
df = df.loc[df["Country"] == "US"]
#grabbing only starbucks (not jambda juice)
df = df.loc[df["Brand"] == "Starbucks"]
#might want to only grab only company owned stores
df = df.loc[df["Ownership Type"] == "Company Owned"]
df = df[["Postcode", "State/Province", "City", "Street Address"]]
df = df.dropna()
#grabbing only the first 5 digits of the zipcode
df["Postcode"] = df["Postcode"].apply(lambda s: s[:5])
print(df.shape)
df.head()

(7928, 4)

,Postcode,State/Province,City,Street Address
11967,99515,AK,Anchorage,"320 W. 100th Ave, 100, Southgate Shopping Ctr ..."
11968,99515,AK,Anchorage,1005 E Dimond Blvd
11972,99503,AK,Anchorage,"110 W. Tudor Rd, E"
11978,99507,AK,Anchorage,"2421 East Tudor Road, Suite 8"
11986,99504,AK,Anchorage,"1142 N. Muldoon Road, 110, Anchorage 5th Ave Mall"

Loading income data by postcodes

loading historical data by zipcodes